@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-blue-100 border border-blue-100 text-white font-medium rounded-full hover:bg-blue-300 hover:border-blue-300 focus:outline-none select-none transition-colors;
  }
}

@layer components {
  .btn-chunky-primary {
    box-shadow: 2px 2px 0 0 #444;
    position: relative;
    transition: transform 200ms ease, box-shadow 200ms ease;
    @apply font-bold py-2 px-5 rounded-lg bg-blue-100 border-2 border-[#444] text-white hover:bg-blue-300 focus:outline-none select-none transition-colors;

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 0px 0px 0 0 #444;
    }
  }
}

@layer components {
  .btn-danger {
    @apply py-2 px-5 bg-red-800 border border-red-800 text-white font-medium rounded-full hover:bg-red-700 hover:border-red-700 focus:outline-none select-none transition-colors;
  }
}

@layer components {
  .btn-primary-small {
    @apply text-xs py-1.5 px-3 bg-blue-100 border border-blue-100 text-white font-medium rounded-full hover:bg-blue-300 hover:border-blue-300 focus:outline-none select-none transition-colors;
  }
}

@layer components {
  .btn-outline-dark {
    @apply py-2 px-5 bg-transparent border border-dark/60 text-dark font-medium rounded-full shadow-md tablet:hover:text-white tablet:hover:bg-dark focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-overlay {
    @apply py-2 px-5 bg-transparent border border-dark/60 tablet:border-white text-dark tablet:text-white font-medium rounded-full shadow-md tablet:hover:text-white tablet:hover:bg-dark tablet:hover:border-dark focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-danger {
    @apply py-2 px-5 bg-transparent border border-danger text-danger font-medium rounded-full shadow-md hover:text-white hover:bg-danger focus:outline-none select-none;
  }
}

@layer components {
  .btn-chunky-danger {
    border: 2px solid #444;
    box-shadow: 2px 2px 0 0 #444;
    border-radius: 8px;
    position: relative;
    transition: transform 200ms ease, box-shadow 200ms ease;
    @apply py-2 px-5 bg-[#ea4336] text-white font-bold hover:bg-danger focus:outline-none select-none;

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 0px 0px 0 0 #444;
    }
  }
}

@layer components {
  .nav-button {
    @apply py-2 px-6 bg-[#f1f1f1] text-black rounded-md focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-small {
    @apply text-xs py-1.5 px-3 bg-transparent border border-white text-white font-medium rounded-full shadow-md hover:text-white hover:bg-dark hover:border-dark focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-small-no-hover {
    @apply text-xs py-1.5 px-3 bg-transparent border border-dark/60 text-dark font-medium rounded-full shadow-md focus:outline-none select-none;
  }
}

@layer components {
  .tag {
    @apply text-sm font-bold py-1 px-3 bg-blue-800 border border-blue-800 text-blue-200 rounded-full hover:bg-blue-700 hover:border-blue-700 focus:outline-none select-none;
  }
}

@layer components {
  .btn-primary-layered,
  .tag-layered {
    @apply text-xs py-1.5 px-3 bg-transparent border border-white text-white hover:border-blue-200 hover:bg-blue-200 font-medium rounded-full shadow-md focus:outline-none select-none;
  }
}

@layer utilities {
  .subtitle {
    @apply font-bold text-sm uppercase tracking-wide;
  }
}

@layer utilities {
  .shadow-md-reverse {
    box-shadow: 0 -2px 6px -1px rgb(0 0 0 / 0.1),
      0 -2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

@layer utilities {
  .shadow-nav {
    box-shadow: 0 1px 2px rgba(32, 33, 36, 0.15),
      0 1px 8px rgba(32, 33, 36, 0.08);
  }
}

@layer utilities {
  .shadow-chunky {
    box-shadow: 3px 5px 0 0 #444;
    border: solid 2px #444;
  }
}

@layer utilities {
  .btn-chunky {
    box-shadow: 2px 2px 0 0 #444;
    border-radius: 8px;
    border: solid 2px #444;
    position: relative;
    transition: transform 200ms ease, box-shadow 200ms ease;
    @apply bg-white text-dark font-bold py-2 px-5 hover:text-blue-100 hover:bg-blue-900;

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 0px 0px 0 0 #444;
    }
  }
}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  min-height: 100%;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root > header {
  background: #f6f5f2;
}

#root,
main {
  flex-grow: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

header.is-hidden {
  transform: translateY(-100%);
}

.shimmer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 33.3%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 66.6%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 550ms ease-in-out forwards;
    animation-iteration-count: 1;
    will-change: transform;
    pointer-events: none;
  }
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(50%);
  }
}

.toggle-btn {
  background-color: #b7b9ba;
  border-radius: 99px;
  width: 42px;
  height: 24px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb {
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #009934;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 29px);
}

.marquee-track {
  width: fit-content;
  animation: marquee 72s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% - 16px), 0, 0);
  }
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2");
  src: url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2");
  src: url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2");
  src: url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
