@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-blue border border-blue text-white font-medium rounded-full shadow-md hover:bg-[#0b5ed7] hover:border-[#0b5ed7] focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-dark {
    @apply py-2 px-5 bg-transparent border border-dark/60 text-dark font-medium rounded-full shadow-md tablet:hover:text-white tablet:hover:bg-dark focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-overlay {
    @apply py-2 px-5 bg-transparent border border-dark/60 tablet:border-white text-dark tablet:text-white font-medium rounded-full shadow-md tablet:hover:text-white tablet:hover:bg-dark tablet:hover:border-dark focus:outline-none select-none;
  }
}

@layer components {
  .btn-outline-danger {
    @apply py-2 px-5 bg-transparent border border-danger text-danger font-medium rounded-full shadow-md hover:text-white hover:bg-danger focus:outline-none select-none;
  }
}

@layer components {
  .nav-button {
    @apply py-1.5 px-5 bg-[#f1f1f1] text-black rounded-md focus:outline-none select-none;
  }
}

@layer components {
  .tag,
  .btn-outline-small {
    @apply text-xs py-1.5 px-3 bg-transparent border border-white text-white font-medium rounded-full shadow-md hover:text-white hover:bg-dark hover:border-dark focus:outline-none select-none;
  }
}

@layer components {
  .tag-no-hover,
  .btn-outline-small-no-hover {
    @apply text-xs py-1.5 px-3 bg-transparent border border-dark/60 text-dark font-medium rounded-full shadow-md focus:outline-none select-none;
  }
}

@layer utilities {
  .shadow-md-reverse {
    box-shadow: 0 -2px 6px -1px rgb(0 0 0 / 0.1),
      0 -2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

@layer utilities {
  .shadow-nav {
    box-shadow: 0 1px 2px rgba(32, 33, 36, 0.15),
      0 1px 8px rgba(32, 33, 36, 0.08);
  }
}

html {
  min-height: 100%;
}

html,
body,
#root {
  height: 100%;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.shimmer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 33.3%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 66.6%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 550ms ease-in-out forwards;
    animation-iteration-count: 1;
    will-change: transform;
    pointer-events: none;
  }
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(50%);
  }
}

.toggle-btn {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 44px;
  height: 24px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb {
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #15b58e;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 28px);
}
